//global reset
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #cccccc;
    padding: 10px;
    display: flex; //child elements becomes flex items and displayed side by side

    flex-direction: row; //default flexbox direction goes from left to right
    //flex-direction:row-reverse; //inverts the direction of the main access(flex-direction: row-reverse)
    //flex-direction: column; //lays items on the cross axis from top to bottom
    //flex-direction: column-reverse; //inverts the direction of the cross axis
  
    //justify-content: center; // centers the entire content
    // justify-content: space-between; //space is evenly diristibuted between items
    //justify-content: space-around; //same amount of space on both left and right side of each of the flex items
    //justify-content: space-evenly; // space between and and space on the side are equal
   // justify-content: flex-end; //pushes the items to the right side
    //justify-content: flex-start; //pushes the items to be in the left side; i.e. flexbox default
    justify-content: center;

    //align items-defines how the items are aligned the cross axis
    // align-items: strech; //initial value, streches the items according to the hightest element
    // align-items: center; //centers the elements along the cross axis
    // align-items: flex-start; //aligns items to the top
    // align-items: flex-end; //aligns items to the bottom
    // align-items: baseline; //aligns items by the text
    align-items: center;
}
.item{
    background-color: blue;
    padding: 40px;
    margin: 30px;
    color: #fff;
    font-size: 40px;
}
.i2{
    height: 200px;
}
.i4{
    font-size: 70px;
}